
.navbar {
    width: 100%;
    padding-block: 1.5rem;
    position: relative;
    z-index: 111111111;
}

.navbar_container {
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: (2, 1, 4);
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.navbar_container_left {
    display: grid;
    grid-template-columns: 1fr, 2fr;
    align-items: center;
}

.navbar_container_left_box_input_box {
    width: 60%;
    border: 1px solid var();
}

